node_modules/
dist/
.env
.env.local
*.log
.DS_Store
coverage/
.nyc_output/
*.tsbuildinfo
nest-cli.json
package-lock.json
tsconfig.json
tsconfig.build.json
.claude/
.dist/
.dist
.claude
claude.md
EXPLANATION.md
/docs
docs/
docs
CLAUDE.md
.cast/
to-do.md
./.cast/
cast/
.cast.worktrees/

claude --resume 255711bc-8fbb-406e-867b-4415617c534e 